-
    var list = [
        {
            image: './img/flat_1.png',
            title: 'НЕМЧИНОВКА',
            price: '25 000 000 ₽',
            description: 'Описание квартиры на продажу номер 1',
            bedrooms: 4,
            href: '#'
        },
        {
            image: './img/flat_2.png',
            title: 'МАРУШКИНО',
            price: '35 000 000 ₽',
            description: 'Описание квартиры на продажу номер 2',
            bedrooms: 3,
            href: '#'
        },
        {
            image: './img/flat_3.png',
            title: 'РОДНИКИ',
            price: '45 000 000 ₽',
            description: 'Описание квартиры на продажу номер 3',
            bedrooms: 6,
            href: '#'
        }
    ]
each item in list
    section
        figure
            h3(style="background-image:url(" + item.image + ")")
                img(src=item.image)
            figcaption= item.title
            p.price= item.price
            p.bedrooms
                span Спален: 
                span.count= item.bedrooms
            p.description= item.description
            a(href=item.href) Подробнее